body h1 {
    font-size: 70px;
    margin-top: 0;
    letter-spacing: -0.1em;
    font-family: 'KoPub Batang', serif;
    color: #3c3c3c;
}

body>main>h2 {
    font-size: 40px;
    margin-left: 30px;
    margin-top: -30px;
    text-align: center;
    letter-spacing: -0.1em;
    font-family: 'KoPub Batang', serif;
    color: #5a5a5a;
}

body>main>h3 {
    font-size: 35px;
    margin-left: 120px;
    text-align: left;
    letter-spacing: -0.07em;
    font-family: 'KoPub Batang', serif;
    color: #5a5a5a;
}

p {
    margin-top: -25px;
    font-size: 30px;
    margin-left: 120px;
    text-align: left;
    letter-spacing: -0.07em;
    font-family: 'Pretendard', sans-serif;
    color: #5a5a5a;
}

p.no-style {
    all: unset;
    color: darkgray;
}

tbody td {
    padding-left: 40px;
}

thead tr th {
  border-bottom: 10px solid transparent; /* 간격 역할 */
}